.gitignore.bak
src/.vs
src/EncryptedSyslogReader/bin
src/EncryptedSyslogReader/obj
src/Log4NetAppenders/bin
src/Log4NetAppenders/obj
src/Log4NetAppenders/Log4NetAppenders.nuspec.bak
src/Log4NetAppenders/NuGetCommandLine.txt
src/Log4NetAppenders/NuGetCommandLine.txt.bak
src/Log4NetAppenders.ReferenceApp
src/Log4NetAppenders.SampleApp/bin
src/Log4NetAppenders.SampleApp/obj
src/Log4NetAppenders.UnitTest/bin
src/Log4NetAppenders.UnitTest/obj
src/TestResults

